p {
	color: black;
	font-family: "Courier New", courier, monospace;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
	
h1 {
	font-family: Impact, sans-serif;
	font-size: 40pt;
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
img {
	display: block;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	border: 4px dotted gray;
}
