p {
	color: black;
	font: 12pt courier;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
	
h1 {
	font: 40pt impact;
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

