p {
	color: black;
	font-family: "Courier New", courier, monospace;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
	
h1 {
	font-family: Impact, sans-serif;
	font-size: 40pt;
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}

@keyframes slide {
	from {margin-left: 0%; font-size: 1pt; transform: rotate(360deg)}
	to {margin-left: 33%; font-size: 40pt; transform: rotate(0deg)}
}

#slide {
	animation-name: slide;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

img {
	display: block;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
}
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	border: 4px dotted gray;
}
