body {
	--cw: 40%;
}

p {
	color: black;
	background: gainsboro;
	font-family: "Courier New", courier, monospace;
	width: calc( var(--cw) - 5% );
	padding: 2em;
	margin-left: auto;
	margin-right: auto;	
	border: 1em solid lightslategrey
}
	
h1 {
	font-family: Impact;
	font-size: 40pt;
	text-align: center;
	width: calc( var(--cw) + 3%);
	margin-left: auto;
	margin-right: auto;
	border: 2px dotted lightslategrey;

}

h2 {
	font-family: courier;
	font-size: 30pt;
	color: darkslategrey;
	background: gainsboro;
	text-align: left;
	width: calc( var(--cw) - 5%);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	border-left: 1em solid lightslategrey;

}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 6px;
	border: 2px dotted lightslategrey;
}

ul {
	display: block;
	color: black;
	background: gainsboro;
	font-family: "Courier New", courier, monospace;
	width: calc( var(--cw) - 5% );
	padding: 2em;
	margin-left: auto;
	margin-right: auto;	
	border: 1em solid lightslategrey

}

.justablock {
	color: black;
	background: gainsboro;
	font-family: "Courier New", courier, monospace;
	width: calc( var(--cw) - 5% );
	padding: 3em;
	margin-left: auto;
	margin-right: auto;	

}
